<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap Resume</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
  </head>
  <body class=""></body>
</html>

<header class="bg-gradient text-white py-5">
  <div class="container">
    <div class="row">
      <div class="bg-dark pt-2">
        <div class=" text-center text-decoration-underline ">
          <h1>{{ comic.titulo }}</h1>
          <img
            [src]="comic.portada"
            alt="Generic placeholder image"
            class="rounded mx-auto d-block mt-4 border "
            style="width: 60% ; height: 60%;"
          />
        </div>
        <div class="col-md-12 pt-2">
          <h5> Descripción: </h5>
          <p class="border-top pt-3 ">
            {{ comic.descripcion }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row ">
      <div class="bg-dark bg-gradient text-white py-5 " id="chapters-list">
        <h3 ><strong >Capítulos : </strong></h3>

        <app-capitulo-item [capitulo]="capitulo" class="col" *ngFor="let capitulo of capitulos "> </app-capitulo-item>

      </div>
    </div>

    <div class="container"  *ngIf="admin == true">


      <form
        action="#"
        #CapituloForm="ngForm"
        id="form-register"
        class="mt-4"
        method="POST"
        (ngSubmit)="subirCapitulos()"
        role="form"
      >

        <div class="mb-3 text-dark">

          <label for="nombre">Titulo del capitulo:</label>

          <input
            type="text"
            [(ngModel)]="capitulo.titulo"
            #nameModel="ngModel"
            class="form-control"
            id="titulo"
            name="tituloUser"
            placeholder="Titulo"
            [ngClass]="validClasses(nameModel, 'is-valid', 'is-invalid')"
            required
          />
          <div class="invalid-feedback">Se requiere titulo</div>

        </div>

        <div class="mb-3 text-dark">
          <label for="imagenes"> Subir archivo:</label>
          <input
            (change)="capturarFile($event)"
            required
            [(ngModel)]="capitulo.imagenes"
            #imagenesModel="ngModel"
            [ngClass]="validClasses(imagenesModel, 'is-valid', 'is-invalid')"
            type="file"
            required
            class="form-control"
            id="imagenes"
            name="imagenes"
          />
          <div class="invalid-feedback">No se ha guardado la carpeta</div>
          <div class="valid-feedback">Carpeta guardada</div>
        </div>

        <a class="btn btn-secondary" [routerLink]="['/comics']" role="button"
          >Volver</a
        >

        <button
          type="submit"
          [disabled]="CapituloForm.invalid"
          class="btn btn-primary ms-2 "
        >
          Crear capitulo
        </button>


      </form>
    </div>
s

  </div>

</header>

