<div class="container">
  <form
    action="#"
    #ComicForm="ngForm"
    id="form-register"
    class="mt-4"
    method="POST"
    (ngSubmit)="subirComic()"
    role="form"
  >
    <legend>Crea una cuenta</legend>

    <div class="mb-3">
      <label for="nombre">Titulo Comic:</label>
      <input
        type="text"
        [(ngModel)]="comics.titulo"
        #nameModel="ngModel"
        class="form-control"
        id="titulo"
        name="tituloUser"
        placeholder="Titulo"
        [ngClass]="validClasses(nameModel, 'is-valid', 'is-invalid')"
        required
      />
      <div class="invalid-feedback">Se requiere nombre</div>
    </div>
    <div class="mb-3">
      <label for="`portada"> Imagen Portada:</label>
      <input
        (change)="capturarFile($event)"
        required
        [(ngModel)]="comics.portada"
        #portadaModel="ngModel"
        [ngClass]="validClasses(portadaModel, 'is-valid', 'is-invalid')"
        type="file"
        required
        class="form-control"
        id="portada"
        name="portada"
      />
      <div class="invalid-feedback">Imagen Falla</div>
    </div>
    <div *ngIf="previsualizacion">
      <img [src]="previsualizacion" width="400px" />
    </div>
    <div class="mb-3">
      <label for="descripcion">Descripción:</label>
      <input
        type="text"
        required
        [(ngModel)]="comics.descripcion"
        #descripcionModel="ngModel"
        [ngClass]="validClasses(descripcionModel, 'is-valid', 'is-invalid')"
        class="form-control"
        id="descripcion"
        name="descripcion"
        placeholder="Descripción"
      />
      <div class="invalid-feedback">Se requiere Contraseña</div>
    </div>

    <div class="mb-3">
      <label for="capitulo">Capitulo:</label>
      <input
        type="text"
        required
        [(ngModel)]="comics.capitulos"
        #capituloModel="ngModel"
        [ngClass]="validClasses(capituloModel, 'is-valid', 'is-invalid')"
        class="form-control"
        id="capitulo"
        name="capitulo"
        placeholder="Capitulo"
      />
      <div class="invalid-feedback">Se requiere Contraseña</div>
    </div>


    <img src="" alt="" id="imgPreview" class="img-thumbnail d-none" />
    <p class="text-danger" id="errorInfo"></p>
    <a class="btn btn-secondary" [routerLink]="['/comics']" role="button"
      >Volver</a
    >
    <button
      type="submit"
      [disabled]="ComicForm.invalid"
      class="btn btn-primary ms-2"
    >
      Crear Cuenta
    </button>
  </form>
</div>
