<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid" >
      <a class="col-1" href="" > <img src="../../../assets/Logo.png"  class="rounded float-left col-12" > </a>
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Perfil</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" >Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Subir Comic</a>
        </li>
      </ul>
    </div>

    <!--

      <div class="container-fluid" >
      <a class="navbar-brand" >Events manager</a>
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Register</a>
        </li>
      </ul>
    </div>

     -->

  </nav>

