<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid"  *ngIf="logged" >
      <a class="col-1"  class="col-1" [routerLink]="['/comics']" > <img src="../../../assets/Logo.png"  class="rounded float-left col-12" > </a>
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/comics']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">Comics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/users/me']">Perfil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/comics/subir']">Subir Comic</a>
        </li>



      </ul>
      <a  class="float-left p-5 link-secondary text-decoration-none" (click)="logout()" >Logout</a>
    </div>

    <div class="container-fluid" *ngIf="!logged">
      <a class="navbar-brand" class="col-1" [routerLink]="['/comics']"><img src="../../../assets/Logo.png"  class="rounded float-left col-12" ></a>
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth/login']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth/register']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">Register</a>
        </li>
      </ul>
    </div>

  </nav>

