<a class="btn btn-primary mb-3" [routerLink]="['/comics/' + capitulo.id_comic]" role="button">Volver</a>
<h1 class="text-center"> {{ capitulo.titulo }}</h1>
<div class="container ">
  <div class="row">
    <div class="col-11">
      <a
        class="btn btn btn btn-warning"
        (click)="anterior(capitulo.id!)"
        role="button"
        >Anterior</a
      >
    </div>
    <div class="col-1">
      <a
        class="btn btn btn btn-warning "
        (click)="siguiente(capitulo.id!)"
        role="button"
        >Siguiente</a
      >
    </div>
  </div>
</div>

<div id="main-container" class="viewer-container container mt-4">
  <div
    class="img-container text-center"
    *ngFor="let imagen of capitulo.imagenes"
  >
    <img
      src="data:image/jpeg;base64,{{ imagen }}"
      style="padding: 0px; width: 100%"
      data-src="https://img1.japanreader.com/uploads/20230105/53c072baf8425e808e46566ce858b503/dae03c64.jpg"
      class="viewer-img loaded"
      oncontextmenu="return false;"
      data-was-processed="true"
    />
  </div>
</div>
